<section class="heroes-list">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" />
  </mat-form-field>
  <mat-paginator #paginator [pageSizeOptions]="[10, 15]" showFirstLastButtons></mat-paginator>
  <table class="heroes-list__table mat-elevation-z8" mat-table [dataSource]="dataSource">
    <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay; let i = index">
      <th mat-header-cell *matHeaderCellDef>{{ displayedColumns[i] | uppercase }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>
    <tr class="heroes-list__header" mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      class="heroes-list__row"
      mat-row
      *matRowDef="let row; columns: columnsToDisplay"
      [ngClass]="{ 'heroes-list__row--highlight': (heroSelected$ | async)?.id === row.id }"
      (click)="highlight(row)"
    ></tr>
    <tr class="mat-row" *matNoDataRow>
      <div class="heroes-list__no-data mat-cell" [attr.colspan]="displayedColumns.length">
        <img class="heroes-list__no-data-img" src="./assets/images/angry-batman.png" alt="Angry Hero" />
        <span class="heroes-list__no-data-message">{{ 'No heroes matching the filter.' | uppercase }}</span>
      </div>
    </tr>
  </table>
</section>
