.page-not-found {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    margin-bottom: 50px;
    font-family: CombackHomeRegular, Roboto, sans-serif;
    color: #fff;
  }

  &__button {
    margin-top: 20px;
  }
}
