<section class="ok-cancel-modal">
  <header class="ok-cancel-modal__header" mat-dialog-content>
    <p>{{ data.title }}</p>
    @if (data.subtitle) {
      <p class="ok-cancel-modal__subtitle">{{ data.subtitle }}</p>
    }
  </header>
  @if (data.inputs) {
    @defer (when data.inputs) {
      <form class="ok-cancel-modal__inputs">
        @for (input of data.inputs; track $index) {
          <mat-form-field>
            <mat-label>{{ input.label }}</mat-label>
            <input
              appInputUppercase
              matInput
              placeholder="Place {{ input.label }} here"
              name="{{ input.label }}"
              [(ngModel)]="input.value"
              [formControl]="input.formControl"
              [errorStateMatcher]="input.matcher"
            />
            @if (input.formControl.hasError('required')) {
              <mat-error>{{ input.label }} is <strong>required</strong> </mat-error>
            }
          </mat-form-field>
        }
      </form>
    }
  }
  <footer mat-dialog-actions class="ok-cancel-modal__footer">
    <button mat-raised-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button cdkFocusInitial (click)="onOk()">Ok</button>
  </footer>
</section>
