<header class="heroes-list-header">
  <button class="heroes-list-header__button" mat-raised-button (click)="addHero()">Add hero</button>
  <button mat-raised-button class="heroes-list-header__button" [disabled]="buttonDisabled" (click)="!buttonDisabled && editHero()">
    Edit hero
  </button>
  <button mat-raised-button class="heroes-list-header__button" [disabled]="buttonDisabled" (click)="!buttonDisabled && removeHero()">
    Remove hero
  </button>
  <div *ngIf="showSpinner" class="heroes-list-header__overlay">
    <mat-spinner class="heroes-list-header__spinner" color="white"></mat-spinner>
  </div>
</header>
